<div @attributes="@OtherAttributes">
    <Grid ColumnGap="10" RowGap="10">
        <ColumnDefinitions>
            <ColumnDefinition Width="auto" />
            <ColumnDefinition Width="16" />
            <ColumnDefinition Width="5" />
        </ColumnDefinitions>

        <Content>
            <GridElement ColumnSpan="3">
                <input type="@(ShowPassword ? "text" : "password")" style="border-radius: 10px" />
            </GridElement>
            <GridElement Column="2" VerticalAlignment="@Alignment.Center">
                <span @onclick="EyeClick" class="oi oi-eye"></span>
            </GridElement>
        </Content>
    </Grid>
</div>

@code {
    private bool ShowPassword = false;
    private void EyeClick() => ShowPassword = !ShowPassword;

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> OtherAttributes { get; set; }
}
